.header {
    border-bottom: 1px solid #545454;
    max-width: 880px;
    height: 73px;
    margin: 0 auto;
    padding: 45px 0 0 0;
}

@media screen and (max-width: 1279px) {
    .header {
        padding-top: 28px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        margin: 0 10%;
        padding-top: 28px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-top: 28px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        height: 55px;
        margin: 0;
        padding-top: 28px;
    }
}