.new-element__like-button {
    height: 19px;
    margin: 5px 5px 0 0;
    padding: 0 11px;
    background-color: #fff;
    background-image: url(../../../images/new-element-like-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.new-element__like-button:hover {
    opacity: .8;
    transition: opacity .2s linear;
}