.new-element__group {
    display: flex;
    justify-content: space-between;
    width: 89%;
    padding: 25px 15px 31px 21px;
}

@media screen and (max-width: 800px) {
    .new-element__group {
        padding-left: 11px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 550px) {
    .new-element__group {
        padding-left: 21px;
        padding-right: 15px;
    }
}