.profile__title {
    margin: 0 0 16px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 42px;
    font-weight: 500;
    line-height: 114%;
    color: #fff;

}

@media screen and (max-width: 918px) {
    .profile__title {
        text-align: center;
        font-size: 32px;
        line-height: 122%;
    }
}

@media screen and (max-width: 550px) {
    .profile__title {
        text-align: center;
        font-size: 30px;
        line-height: 118%;
    }
}

@media screen and (max-width: 320px) {
    .profile__title {
        margin: 0 0 14px 0;
        font-size: 27px;
        line-height: 33px;
    }
}