.new-element__delete-button {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 19px;
    margin: 5px 5px 0 0;
    padding: 0 9px;
    background-color: transparent;
    background-image: url(../../../images/new-element-delete-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.new-element__delete-button:hover {
    opacity: .6;
    transition: opacity .2s linear;
}