.footer {
    max-width: 880px;
    text-align: left;
    margin: 67px auto 0;
    padding-bottom: 60px;
}

@media screen and (max-width: 918px) {
    .footer {
        margin-left: 19px;
        margin-right: 19px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 48px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding-bottom: 36px;
    }
}